<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css">
</head>

<body>
    <h1 style="text-align: center;">Login</h1>
    <h3 style="text-align: center;">(Login as Super User)</h3>

    <form method="post" style="width: 50%;">
        {% csrf_token %}
        {{ login_form.as_p }}

        <button type="submit">Login</button>
    </form>

</body>

</html>